# links to administrative stuff
*.url

# other administrative stuff
administrative/

# don't include pdfs or sqlite database
data/**/*.pdf

*.db

# unecessary python stuff
__pycache__
*.py[ocd]

# vim session
Session.vim

# These should probably be moved to bibiography
reference/

# random sql queries
queries.sql

# ignore drive backup stuff
.tmp.driveupload

data/csv/.RData
data/csv/.Rhistory

# Don't include GIS data
data/gis
